<div id="statusdiv"></div>
<div class="midpoint"> </div>

<div class="card">
  <h2>Acura NSX</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>BMW M3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Chevrolet Corvette ZR1</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Dodge Viper</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Ferrari 812</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Infiniti G35</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Jaguar F Pace</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Kia Stinger</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Land Rover Range Rover Velar</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Nissan Titan</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Porsche 911 GT3</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Toyota Land Cruiser</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>

<div class="card">
  <h2>Volvo XC40</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id felis ex. Integer nec tincidunt risus. Donec at eros nunc. Nam in iaculis nulla, vel molestie libero. Donec eget feugiat nunc. Duis ac dolor sed erat cursus mattis. Nam ullamcorper lorem ac porttitor vestibulum.</p>
  <div class="buttons">
    <a href="#">Read More</a>
  </div>
</div>